/*
Error: Invalid CSS after "  }": expected "}", was ""
        on line 17 of sass/_mixins.scss
        from line 17 of sass/main.scss

12:   float: left;
13:   // Remove Spacing from First Child
14:   &:first-child{
15:     margin-left: 0;
16:   }

Backtrace:
sass/_mixins.scss:17
sass/main.scss:17
/Users/deep/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/scss/parser.rb:1278:in `expected'
/Users/deep/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/scss/parser.rb:1208:in `expected'
/Users/deep/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/scss/parser.rb:1203:in `tok!'
/Users/deep/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/scss/parser.rb:679:in `block'
/Users/deep/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/scss/parser.rb:246:in `mixin_directive'
/Users/deep/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/scss/parser.rb:234:in `special_directive'
/Users/deep/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/scss/parser.rb:209:in `directive'
/Users/deep/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/scss/parser.rb:696:in `block_child'
/Users/deep/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/scss/parser.rb:686:in `block_contents'
/Users/deep/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/scss/parser.rb:137:in `stylesheet'
/Users/deep/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/scss/parser.rb:41:in `parse'
/Users/deep/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/engine.rb:414:in `_to_tree'
/Users/deep/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/engine.rb:321:in `to_tree'
/Users/deep/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:327:in `block in visit_import'
/Users/deep/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/stack.rb:88:in `block in with_import'
/Users/deep/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/stack.rb:135:in `with_frame'
/Users/deep/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/stack.rb:88:in `with_import'
/Users/deep/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:326:in `visit_import'
/Users/deep/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/deep/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/deep/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/stack.rb:79:in `block in with_base'
/Users/deep/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/stack.rb:135:in `with_frame'
/Users/deep/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/stack.rb:79:in `with_base'
/Users/deep/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/deep/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/deep/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/deep/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/deep/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
/Users/deep/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/deep/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
/Users/deep/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/deep/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
/Users/deep/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/deep/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:161:in `visit'
/Users/deep/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:10:in `visit'
/Users/deep/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/deep/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/deep/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Users/deep/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Users/deep/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/Users/deep/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/deep/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/plugin/compiler.rb:209:in `each'
/Users/deep/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/deep/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/plugin/compiler.rb:443:in `on_file_changed'
/Users/deep/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/plugin/compiler.rb:320:in `block in watch'
/Users/deep/.rvm/gems/ruby-2.4.1/gems/sass-listen-4.0.0/lib/sass-listen/event/config.rb:23:in `call'
/Users/deep/.rvm/gems/ruby-2.4.1/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:115:in `_process_changes'
/Users/deep/.rvm/gems/ruby-2.4.1/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:19:in `block in loop_for'
/Users/deep/.rvm/gems/ruby-2.4.1/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop'
/Users/deep/.rvm/gems/ruby-2.4.1/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop_for'
/Users/deep/.rvm/gems/ruby-2.4.1/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:84:in `_wait_for_changes'
/Users/deep/.rvm/gems/ruby-2.4.1/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:42:in `block in setup'
/Users/deep/.rvm/gems/ruby-2.4.1/gems/sass-listen-4.0.0/lib/sass-listen/internals/thread_pool.rb:6:in `block in add'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"  }\": expected \"}\", was \"\"\A         on line 17 of sass/_mixins.scss\A         from line 17 of sass/main.scss\A \A 12:   float: left;\A 13:   // Remove Spacing from First Child\A 14:   &:first-child{\A 15:     margin-left: 0;\A 16:   }"; }
